<div class="navbar-image">
  <img src="./../../assets/Yoda.png" alt="image" class="image-brand" />
</div>

<div class="navbar-title">
  <title-h1 [titleText]="headerTitle" class="navbar_title"></title-h1>
</div>
<div class="navbar-pages">
  <header-button [text]="createTask" class="navbar-page"></header-button>
  <header-button [text]="toDo" class="navbar-page"></header-button>
  <header-button [text]="done" class="navbar-page"></header-button>
</div>
<div clas="navbar-contact">
  <img
    src="./../../assets/Github.png"
    alt="image"
    class="image-contact"
    (click)="visitGit()"
  />
</div>
