<div>
  <div class="choose-date-container"><h3>Choose Due Date</h3></div>
  <div class="choose-date-container">
    <div class="choose-date">
      <h4>Month</h4>
      <select
        [(ngModel)]="defaultMonth"
        class="selection"
        (change)="handleUpdateDays(defaultMonth)"
      >
        <option
          *ngFor="let month of monthsUpdated"
          [value]="month.name"
          [id]="month.days"
        >
          {{ month.name }}
        </option>
      </select>
    </div>

    <div class="choose-date">
      <h4>Day</h4>
      <select class="selection" [(ngModel)]="defaultDay">
        <option *ngFor="let day of daysArray" [value]="day">
          {{ day }}
        </option>
      </select>
    </div>
  </div>
</div>

<div>
  <div class="choose-date-container">
    <h3>Choose Priority</h3>
  </div>

  <div class="choose-priority-container">
    <app-button
      *ngFor="let btn of priorityButtons.buttons"
      [name]="btn.name"
      [i]="btn.i"
      [color]="btn.color"
      [status]="btn.status"
    ></app-button>
  </div>
</div>

<app-input
  [placeH]="'Name of the task'"
  [id]="'taskName'"
  [title]="'Task Name'"
  (task)="setTask($event)"
></app-input>
<app-input
  [placeH]="'Description - max 300 characters.'"
  [id]="'des'"
  [title]="'Description'"
  (task)="setTask($event)"
></app-input>

<div class="butt-container">
  <div class="butt_container">
    <button type="button" class="" (click)="handleCreateTask()">
      Send values.
    </button>
  </div>
</div>
