.choose-date-container {
  display: flex;
  max-width: 300px;
  margin: auto;
  align-content: center;
  justify-content: left;
  text-align: left;
}

.choose-priority-container {
  display: flex;
  max-width: 300px;
  margin: auto;
  align-content: center;
  justify-content: left;
  text-align: left;
}

.choose-date {
  flex: 1;
}

.selection {
  width: 100px;
}

.butt-container {
  padding: 20px;
}

.butt_container {
  max-width: 300px;
  margin: auto;
  padding: 8px;
}
