/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

h3 {
  margin: 0px;
  padding-top: 8px;
  padding-bottom: 12px;
}

h4 {
  margin: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
}
