.click-hover:hover {
  cursor: pointer;
}

.table {
  margin: auto;
}

.underline {
  border-bottom: 2px solid greenyellow;
  background-color: rgb(151, 226, 245, 0.3);
}

.base-underline {
  /*   border-bottom: 1px solid black; */
  cursor: pointer;
}

.dragg {
  width: 200px;
  height: 100px;
  border-color: black;
}

.table-row-head {
  text-align: left;
  padding-top: 8px;
  max-width: fit-content;
  border-bottom: 2px black;
}

.table-row {
  border-top: 1px #92a8d1;
}

.test {
  width: 200px;
}
