<div>
  <table class="table" cdkDropList (cdkDropListDropped)="drop($event)">
    <thead>
      <th
        *ngFor="let column of headArray; let i = index"
        (click)="sortTable($event)"
        [id]="i"
        class="click-hover"
      >
        {{ column }}
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let row of taskArray; let i1 = index" cdkDrag>
        <td *ngFor="let column of columnsArray; let i2 = index" class="test">
          <input
            *ngIf="!row[column]"
            type="checkbox"
            [name]="i1"
            (click)="handleSelect($event)"
            class="click-hover"
          />
          {{ i2 === 3 ? (row[column] | date: "MMMM, dd") : row[column] }}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<button (click)="storageTesting()">MY DOG STEPPED ON THE BEE OH!</button>

<div cdkDrag cdkDragLockAxis="x" class="dragg">DRAG ME</div>
